**QUESTION 1**

Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

Hints: Consider use range(#begin, #end) method

In [68]:
d=[]                         #putting list in a variable
for i in range(2000,3200):
    if i%7==0 and i%5!=0:    #includes both conditions in one condition
        d.append(str(i))     #putting product in a list in form of a string to be able to join in a single line
print((',').join(d))         #joining string values in one comma-separated sequence

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

**QUESTION 2**

Write a program which can compute the factorial of a given numbers. The results should be printed in a comma-separated sequence on a single line. Suppose the following input is supplied to the program: 8 Then, the output should be: 40320

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [69]:
n=int(input())              #allowing console input in form of integers

factorial=1                 #factorial is a function that multiplies the number by every number below it
f=1

while f<=n:                 #while the integer,f is less than the input value, multiplication should continue
    factorial=factorial*f
    f=f+1                   #f is the integer plus 1 until the while loop conditions are met depending on the input integer
print(factorial)

 8

40320

**QUESTION 3**

With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider use dict()

In [31]:
n=int(input())
dictionary=dict()           #function that generates a dictionary
i=1

while i<=n:
    dictionary[i]=i*i       #i is a key, i multiplied by itself is the value..this program adds a value to the dictionary
    i=i+1                   
print(dictionary)

 8

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

**QUESTION 4**

Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program: 34,67,55,33,12,98 Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. tuple() method can convert list to tuple

In [50]:
n=input().split(',')
l=(34,67,55,33,12,98)           #tuple    
m=[]                            #list
i=1

while i<2:                      #condition to ensure the numbers are only appended once
    for item in l:
        m.append(item)          #for the items in the tuple,append them to the list
    i=i+1
print(m,l)

 34,67,55,33,12,98

[34, 67, 55, 33, 12, 98] (34, 67, 55, 33, 12, 98)

**QUESTION 5**

Define a class which has at least two methods: getString: to get a string from console input printString: to print the string in upper case. Also please include simple test function to test the class methods.

Hints: Use init method to construct some parameters

In [67]:
class ourString():                 #this is the object constructor
    def __init__(self):            #used to initialize attributes of the class,ourStrring
        self.lower = ""            #calls the object as a string
    
    def get_String(self):          #self is the parameter that accesses the variables/objects
        self.lower = input()
        
    def print_up(self):
        print(self.lower.upper())  #prints capitalized string
        
lower = ourString()
lower.get_String()
lower.print_up()

 python

PYTHON

**QUESTION 6**

Write a program that calculates and prints the value according to the given formula: Q = Square root of [(2 * C * D)/H] Following are the fixed values of C and H: C is 50. H is 30. D is the variable whose values should be input to your program in a comma-separated sequence. Example Let us assume the following comma separated input sequence is given to the program: 100,150,180 The output of the program should be: 18,22,24

Hints: If the output received is in decimal form, it should be rounded off to its nearest value (for example, if the output received is 26.0, it should be printed as 26) In case of input data being supplied to the question, it should be assumed to be a console input.

In [8]:
import math        #imports the math module
c=50
h=30
item=[]
q=[x for x in input().split(',')]       #shows that the input values are separated by a comma and hence not float values
for d in q:
    item.append(str(int(round(math.sqrt(2*c*float(d)/h)))))  #rounds off a float value to nearest integer
print(item)                             #prints the solved function that has been appended to the item variable

 100,150,180

['18', '22', '24']

**QUESTION 7**

Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. Note: i=0,1.., X-1; j=0,1,¡­Y-1. Example Suppose the following inputs are given to the program: 3,5 Then, the output of the program should be: [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

Hints: Note: In case of input data being supplied to the question, it should be assumed to be a console input in a comma-separated form.

In [48]:
value=input()
d=[int(w) for w in value.split(',')]  #inputs dimensions in a comma separated form
i=d[0]                                #i for number of rows and rows are normally the first dimension,0 initializes row
j=d[1]                                #j for number of columns and columns are normally the second dimension,1 initializes column
array=[[0 for col in range(j)]for row in range(i)]    #listing columns in the rows according to dimensions given for each

for row in range(i):                  #joins columns and rows
    for col in range(j):
        array[row][col]=row*col       #the values of solved function should be equal to the multiplication of dimensions values
print(array)

 3,5

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

**QUESTION 8**

Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically. Suppose the following input is supplied to the program: without,hello,bag,world Then, the output should be: bag,hello,without,world

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [60]:
words=[x for x in input().split(',')]   #inputs the words in a comma separated list
words.sort()                            #sorts the words in ascending order according to letter beginning the word
print(','.join(words))                  #print the words as one string

 without,hello,bag,world

bag,hello,without,world

**QUESTION 9**

Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized. Suppose the following input is supplied to the program: Hello world Practice makes perfect Then, the output should be: HELLO WORLD PRACTICE MAKES PERFECT

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [8]:
lines=[]
while True:                        #allows input of a sequence of lines
    w=input()
    if w:
        lines.append(w.upper())    #capitalize the words and append them to a varaible lines
    else:
        break

for w in lines:                    #print each word in the line
    print(w)

 Hello world
 Practice makes perfect

HELLO WORLD
PRACTICE MAKES PERFECT

**QUESTION 10**

Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically. Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again Then, the output should be: again and hello makes perfect practice world

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [14]:
w=input().split(' ')             #accepts input separated by whitespace and puts in a variable w
for x in w:                      
    if w.count(x)>1:             #counts the input in w
        w.remove(x)              #if the count is more than 1 it removes the input

w.sort()                         #this arranges inputs in ascending order 
print(' '.join(w))               #joins in one string separated by whitespace

 hello world and practice makes perfect and hello world again

again and hello makes perfect practice world

**QUESTION 86**

Please write a program to generate all sentences where subject is in ["I", "You"] and verb is in ["Play", "Love"] and the object is in ["Hockey","Football"].

Hints: Use list[index] notation to get a element from a list.

In [17]:
S=["I","You"]
V=["Play","Love"]
O=["Hockey","Football"]

for s in S:                                  #join the values in S,V and O
    for v in V:
        for o in O:
            print("{} {} {}".format(s,v,o))  #prints value in the strings placeholder defined by curly brackets

I Play Hockey
I Play Football
I Love Hockey
I Love Football
You Play Hockey
You Play Football
You Love Hockey
You Love Football

**QUESTION 87**

Please write a program to print the list after removing delete even numbers in [5,6,77,45,22,12,24].

Hints: Use list comprehension to delete a bunch of element from a list.

In [24]:
n=[5,6,77,45,22,12,24]
num=[i for i in n if i%2!=0]          #only puts odd numbers in num
print(num)

[5, 77, 45]

**QUESTION 88**

By using list comprehension, please write a program to print the list after removing delete numbers which are divisible by 5 and 7 in [12,24,35,70,88,120,155].

Hints: Use list comprehension to delete a bunch of element from a list.

In [31]:
l=[12,24,35,70,88,120,155]
lst=[i for i in l if i%5!=0 and i%7!=0]     #considers both conditions at once
print(lst)

[12, 24, 88]

**QUESTION 89**

By using list comprehension, please write a program to print the list after removing the 0th, 2nd, 4th,6th numbers in [12,24,35,70,88,120,155].

Hints: Use list comprehension to delete a bunch of element from a list. Use enumerate() to get (index, value) tuple.

In [49]:
numbers=[12,24,35,70,88,120,155]
numb=[x for (i,x) in enumerate(numbers) if i not in (0,2,4,6)]  #i represents count/index of x in the list.x is the value
print(numb)

[24, 70, 120]

**QUESTION 90**

By using list comprehension, please write a program generate a 358 3D array whose each element is 0.

Hints: Use list comprehension to make an array.

In [74]:
array=[[[0 for col in range(8)]for col in range(5)]for row in range(3)]   #creating dimensions and inputting values of the array
print(array)

[[[0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0]], [[0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0]], [[0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0]]]

**QUESTION 91**

By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

Hints: Use list comprehension to delete a bunch of element from a list. Use enumerate() to get (index, value) tuple.

In [81]:
numbers=[12,24,35,70,88,120,155]
numb=[x for (i,x) in enumerate(numbers) if i not in (0,4,5)]     #i represents count/index of x in the list.x is the value
print(numb)

[24, 35, 70, 155]

**QUESTION92**

By using list comprehension, please write a program to print the list after removing the value 24 in [12,24,35,24,88,120,155].

Hints: Use list's remove method to delete a value.

In [94]:
numbers=[12,24,35,24,88,120,155]
numb=[x for x in numbers if x!=24]    #removes any 24 in the list
print(numb)

[12, 35, 88, 120, 155]

**QUESTION 93**

With two given lists [1,3,6,78,35,55] and [12,24,35,24,88,120,155], write a program to make a list whose elements are intersection of the above given lists.

Hints: Use set() and "&=" to do set intersection operation.

In [123]:
lst1=set([1,3,6,78,35,55])              #set is used to store multiple items in one variable
lst2=set([12,24,35,24,88,120,155])
lst1&=lst2                              #intersection operator
st=list(lst1)                           #puts intersection values in a list
print(st)

[35]

**QUESTION 94**

With a given list [12,24,35,24,88,120,155,88,120,155], write a program to print this list after removing all duplicate values with original order reserved.

Hints: Use set() to store a number of values without duplicate.

In [148]:
l=[12,24,35,24,88,120,155,88,120,155]
s=set(l)                                #store values of l in a set     #set only stores unique values
lst=[]
for x in s:
    lst.append(x)                       #putting the values of s in a list
lst.sort()                              #arranges in ascending order
print(lst)

[12, 24, 35, 88, 120, 155]

**QUESTION 95**

Define a class Person and its two child classes: Male and Female. All classes have a method "getGender" which can print "Male" for Male class and "Female" for Female class.

Hints: Use Subclass(Parentclass) to define a child class.

In [150]:
class Person():                    #this is the object constructor
    def __init__(self):            #used to initialize attributes of the class
        self.p = "not-known"       #defines the object as not-known
    
    def getGender(self):           #define method of getting gender
        print(self.p)
        
class Male(Person):                #child class linked to class Person
    def __init__(self):
        self.p = "Male"
        
class Female(Person):
    def __init__(self):
        self.p = "Female"
        
Nelly = Female()
Collins = Male()
Nelly.getGender()                  #making use of the method getGender
Collins.getGender()

Female
Male

**QUESTION 96**

Please write a program which count and print the numbers of each character in a string input by console.

Example: If the following string is given as input to the program:

abcdefgabc

Then, the output of the program should be:

a,2 c,2 b,2 e,1 d,1 g,1 f,1

Hints: Use dict to store key/value pairs. Use dict.get() method to lookup a key with default value.

In [249]:
D={}                          
s=input()
for s in s:                                   #gets all the items of the input at once
    D[s]=D.get(s,0)+1                         #gets values of the key in the dictionary which are all the items in input and counts each
                                              #everytime input appears,it is counted
print(','.join([("%s,%s") %(i,j) for i,j in D.items()]))

 abcdefgabc

a,2,b,2,c,2,d,1,e,1,f,1,g,1

**QUESTION 97**

Please write a program which accepts a string from console and print it in reverse order.

Example: If the following string is given as input to the program:

rise to vote sir

Then, the output of the program should be:

ris etov ot esir

Hints: Use list[::-1] to iterate a list in a reverse order.

In [187]:
x=input()       #console input
x = x[::-1]     #takes and reverses every character in the input
print(x)

 rise to vote sir

ris etov ot esir

**QUESTION 98**

Please write a program which accepts a string from console and print the characters that have even indexes.

Example: If the following string is given as input to the program:

H1e2l3l4o5w6o7r8l9d

Then, the output of the program should be:

Helloworld

Hints: Use list[::2] to iterate a list by step 2.

In [184]:
x=input()         #console input
x = x[::2]        #only picks every character in the even indexes
print(x)

 H1e2l3l4o5w6o7r8l9d

Helloworld

**QUESTION 99**

Please write a program which prints all permutations of [1,2,3]

Hints: Use itertools.permutations() to get permutations of list.

In [191]:
import itertools                                #imports the itertools module
print(list(itertools.permutations([1,2,3])))    #gives options of arrangements of the items in the list

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

**QUESTION 100**

Write a program to solve a classic ancient Chinese puzzle: We count 35 heads and 94 legs among the chickens and rabbits in a farm. How many rabbits and how many chickens do we have?

Hint: Use for loop to iterate all possible solutions.

In [207]:
def solution(heads,legs):           #function for calculating heads and legs
    for c in range(heads):          #r is the number of rabbit heads>total heads-chicken heads<
        r=heads-c
        if 2*c+4*r==legs:           #total number of legs;chicken each have 2 legs, rabbits each have 4 legs
            return c,r              #if so, number of heads of chicken,rabbits should be returned

heads = 35
legs = 94
s=solution(heads,legs)              #solves the puzzle
print(s)

(23, 12)